<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset name="information"
		align="left"
		horz="true">

		<field name="title"
			type="text"
			label="JGLOBAL_TITLE"
			description="JFIELD_TITLE_DESC"
			required="true"
			class="input-xxlarge required"
			/>

		<field name="alias"
			type="text"
			label="JFIELD_ALIAS_LABEL"
			description="JFIELD_ALIAS_DESC"
			/>

		<field name="images"
			type="finder"
			label="COM_EZSET_IMAGES"
			description="COM_EZSET_IMAGES_DESC"
			preview="true"
			root="images"
			/>
	</fieldset>

	<fieldset
		name="publish"
		align="right"
		horz="true">

		<field name="state"
			type="list"
			label="JSTATUS"
			description="JFIELD_PUBLISHED_DESC"
			class="chzn-color-state"
			size="1"
			default="1"
			>
			<option value="1">JPUBLISHED</option>
			<option value="0">JUNPUBLISHED</option>
		</field>

		<field name="id"
			type="text"
			default="0"
			label="JGLOBAL_FIELD_ID_LABEL"
			readonly="true"
			class="readonly"
			description="JGLOBAL_FIELD_ID_DESC"
			/>

		<field name="created_by"
			type="user"
			label="COM_EZSET_CREATED_BY"
			description="COM_EZSET_CREATED_BY_DESC"
			/>

		<field name="created"
			type="calendar"
			label="COM_EZSET_CREATED"
			description="COM_EZSET_CREATED_DESC"
			/>

		<field name="publish_up"
			type="calendar"
			label="COM_EZSET_PUBLISH_UP"
			description="COM_EZSET_PUBLISH_UP_DESC"
			/>

		<field name="publish_down"
			type="calendar"
			label="COM_EZSET_PUBLISHED_DOWN"
			description="COM_EZSET_PUBLISH_DOWN_DESC"
			/>

	</fieldset>

	<fieldset name="text"
		align="left">
		<field name="introtext"
			type="editor"
			label="COM_EZSET_INTROTEXT"
			description="COM_EZSET_INTROTEXT_DESC"
			filter="raw"
			buttons="true"
			hide="readmore,pagebreak,article"
			/>

		<field name="fulltext"
			type="editor"
			label="COM_EZSET_FULLTEXT"
			description="COM_EZSET_FULLTEXT_DESC"
			filter="raw"
			buttons="true"
			hide="readmore,pagebreak,article"
			/>

	</fieldset>

	<fieldset name="created">
	</fieldset>
</form>
